.title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 2rem;
  color: #ef5350;
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 1px;
  width: 100%;
  display: block;
}

.title-section {
  width: 100vw;
  box-shadow: 0 2px 8px rgba(0,0,0,0.06);
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  z-index: 100;
}